<div class="container" style="margin-top: 3rem;">
    <h1 class="title"> Bank Details </h1>
  <pre>
        <table>
            <thead>
              <tr>
                <th><h2 class="subtitle"> Property         </h2> </th>
                <th><h2 class="subtitle"> Value </h2>  </th>
                
              </tr>
            </thead>
    
            <hr>
            <tbody>
              <tr>
                <td>Bank Name: </td>
                <td>{{bankDetails.bank_name}}</td>
              </tr>
              <br>
              <tr>
                <td>Bank Branch:</td>
                <td>{{bankDetails.branch}}</td>
            </tr>
            <br>
            <tr>
              <td>Bank IFSC Code:</td>
              <td>{{bankDetails.ifsc}}</td>
            </tr>
            <br>
              <tr>
                <td>Bank Address:</td>
                <td>{{bankDetails.address}}</td>
              </tr>
              <br>
              <tr>
                <td>Bank District:</td>
                <td>{{bankDetails.district}}</td>
              </tr>
              <br>
              <tr>
                <td>Bank City:</td>
                <td>{{bankDetails.city}}</td>
              </tr>
              <br>
              <tr>
                <td>Bank State:</td>
                <td>{{bankDetails.state}}</td>
              </tr>
            </tbody>
          </table>
    </pre>
</div>
